/Solution/.vs
/Solution/dali-adaptor/dali-adaptor.dir/
/Solution/dali-adaptor/dali-adaptor.vcxproj.user
/Solution/dali-core/dali-core.dir/
/Solution/dali-demo/dali-demo.dir/
/Solution/dali-demo/dali-demo.vcxproj.user
/Solution/dali-toolkit/dali-toolkit.dir/
*.pdb
*.dll
*.ilk
*.exe
*.tlog
*.obj
*.idb
*.cache*
*.log